<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Curso</title>
</head>
<body>
  <h1>Cadastro de Curso</h1>

  <!-- Formulário de cadastro de curso -->
  <form action="/cad_curso" method="POST">
    <input type="hidden" name="id_curso" value="<%= curso ? curso.id_curso : '' %> ">
    <label for="nome_curso">Nome do Curso:</label>
    <input type="text" id="nome_curso" name="nome_curso" value="<%= curso ? curso.nome_curso : '' %>" required><br>
    <label for="id_coordenador">ID do Coordenador:</label>
    <select name="id_coordenador" id="id_coordenador" required>
      <option value="">Selecione o Coordenador</option>
      <%= coordenadores.forEach(coordenador => { %>
        <option value="<%= coordenador.id_coordenador %>" <%= curso && curso.id_curso === coordenador.id_coordenador ? 'selected' : '' %>> <%= coordenador.nome_coordenador %> </option>
      })

    </select>
    <button type="submit">Cadastrar Curso</button>
  </form>

  <!-- Tabela de cursos cadastrados -->
  <h2>Cursos Cadastrados</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome do Curso</th>
        <th>ID do Coordenador</th>
      </tr>
    </thead>
    <tbody>
      <% cursos.forEach(curso => { %>
        <tr>
          <td><%= curso.id_curso %></td>
          <td><%= curso.nome_curso %></td>
          <td><%= curso.id_coordenador %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>